[asubmodule "themes/next"]
	path = themes/next
	url = https://Evey-huang@github.com/Evey-huang/hexo-theme-next.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/Evey-huang/hexo-theme-next.git
